Flask==0.9
Flask-Login==0.2.6
gunicorn==0.16.1
Flask-WTF==0.8.2
Flask-MongoKit==0.6
requests==1.2.3
-e git+git://github.com/asascience-open/wicken.git@8537ac35676e0451658d618ef26acf7c1add2b28
netCDF4==1.0.5

