<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IOOS Metadata Mapper</title>
    {% block javascript %}
    <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.min.js') }}" /></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/bootstrap.js') }}" /></script>
    {% endblock %}
    {% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/bootstrap.min.css') }}"></link>
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/imm-style.css') }}"></link>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">IOOS Metadata Mapper</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>
    {%- with messages = get_flashed_messages(with_categories=true) %}
      {%- if messages %}
        {%- for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {%- endfor %}
      {%- endif %}
    {%- endwith %}

    {% block page %}{% endblock %}
  </body>
</html>
