{% extends "layout.html" %}

{% block page %}

<div class="fail-alert alert alert-danger">
</div>

<table id="mapping-table" class="table table-striped table-condensed table-hover table-bordered">
  <thead>
    <tr>
      <th>IOOS Concept Name</th>
      {%- for src in srcs %}
      <th>
        <a href="#" class="pull-right"><span class="glyphicon glyphicon-resize-horizontal"></span></a>
        {{ src.name }}
      </th>
      {%- endfor %}
    </tr>
  </thead>

  <tbody>
    {%- for mapping in mappings %}

    <tr data-id="{{mapping._id}}">
      <td>
        <input value="{{ mapping.ioos_name }}" class="" />

        <span class="label label-success saved-indicator pull-left">Saved</span>

        <div class="btn-group pull-right" style="margin-top: 5px;">
          <button class="btn btn-default btn-xs eval-btn">Evaluate</button>
          <button class="btn btn-danger btn-xs delete-btn">Delete</button>
        </div>
      </td>

      {%- for x in range(srcs|count) %}
      <td><textarea name="{{ srcs[x]._id }}">{{ mapping.queries[x] }}</textarea></td>
      {%- endfor %}
    </tr>

    {%- endfor %}

    <tr class="new-row">
      <td>
        <input name="ioos-name" placeholder="New Mapping" class="" />
        <span class="label label-success saved-indicator pull-left">Saved</span>

        <div class="btn-group pull-right" style="margin-top: 5px;">
          <button class="btn btn-default btn-xs">Evaluate</button>
          <button class="btn btn-danger btn-xs">Delete</button>
        </div>
      </td>

      {%- for src in srcs %}
      <td><textarea name="{{ src._id }}" placeholder="{{ src.name }}"></textarea></td>
      {%- endfor %}

    </tr>

  </tbody>
</table>

  <!--
  <div>
    <button class="btn btn-success btn-large" disabled="disabled"><span class="glyphicon glyphicon-plus"></span> Add Mapping</button>
  </div>
  -->

<div id="eval">
  <div class="panel-heading">
    <!--<a href="#" class="pull-right"><span class="glyphicon glyphicon-collapse-down"></span></a>-->
    <button class="btn btn-xs btn-info pull-right" data-toggle="modal" data-target="#add_eval_modal"><span class="glyphicon glyphicon-plus"></span> Add Eval Source</button>
    <h3 class="panel-title">Evaluation: <span></span></h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      {%- for eval_source in eval_sources %}
      <li class="list-group-item" data-id="{{ eval_source._id }}">
        <h4 class="list-group-item-heading">
          <a href="#" class="pull-right"><span class="glyphicon glyphicon-info-sign"></span></a>
          <span>{{ eval_source.name }}</span> <small>{{ eval_source.source_type }}</small>
        </h4>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-unchecked"></span></span>
          <input type="text" class="list-group-item-text form-control" disabled="disabled" value="" />
        </div>
      </li>
      {%- endfor %}
    </ul>
    <!--<a class="btn btn-default btn-large"><span class="glyphicon glyphicon-plus"></span> Add Eval Source</a>-->
  </div>
</div>

<div id="add_eval_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Evaluation Source</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
        {%- for f in form %}
        <div class="form-group">
          {% if f.name != "csrf_token" %}
          <label for="{{ f.name }}" class="col-lg-4 control-label">{{ f.label }}</label>
          <div class="col-lg-8">
            {{ f(class_="form-control") }}
          </div>
          {% endif %}
        </div>
        {%- endfor %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" id="add-source" class="btn btn-primary">Add Source</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

function evalIoos(row) {
  var row = $(row);
  console.log("eval me " + row.data('id'));

  $('#eval .list-group-item .input-group')
    .removeClass('has-success')
    .removeClass('has-error');

  $('#eval .list-group-item .input-group .glyphicon')
    .removeClass('glyphicon-ok')
    .removeClass('glyphicon-minus-sign')
    .addClass('glyphicon-unchecked');

  $('#eval .list-group-item .input-group input').val('');

  $.getJSON('/eval/' + row.data('id'))
    .done(function(data) {
      console.log(data);

      $('#eval h3.panel-title span').text($('input:first', row).val());

      for (var k in data) {
        var inp = $('#eval li[data-id="' + k + '"] input');

        if (data[k] == null) {
          inp.parent().addClass('has-error');
          inp.val(null);

          $('.glyphicon', inp.parent())
            .removeClass('glyphicon-unchecked')
            .addClass('glyphicon-minus-sign');

        } else {
          inp.val(data[k]);
          inp.parent().addClass('has-success');

          $('.glyphicon', inp.parent())
            .removeClass('glyphicon-unchecked')
            .addClass('glyphicon-ok');
        }
      }
    });
}

function save(row) {
  var row = $(row);

  // build object to send
  var mapping = {
    ioos_name: $('input', row).val(),
    queries: [],
    _id: row.data('id'),
  };

  $('textarea', row).each(function(idx, el) {
    if ($(el).val()) {
      mapping.queries.push({source_type: $(el).attr('name'),
                            query: $(el).val()});
    }
  });

  //console.log(mapping);

  var wat = $.ajax({
    type: 'POST',
    url: '{{ url_for("update_mapping") }}',
    data: {'data':JSON.stringify(mapping, null, '\t')},
  })

  wat.done(function(dat) {
    //console.log(dat);
    if (row.data('id') != dat) {
      row.data('id', dat);
    }

    $('.saved-indicator', row).fadeIn(250).delay(2000).fadeOut(250);
  });

  wat.fail(function(xhr, textStatus, error) {
    row.addClass('error');
    $('.fail-alert').fadeIn(250).text("Could not save: " + textStatus);
  });

  return wat;
}

function rowModified() {
  var parentTr = $(this).parents('tr');
  if (parentTr.data('tid')) {
    window.clearTimeout(parentTr.data('tid'))
  }
  var tid = setTimeout($.proxy(function() {
    // call eval and save
    save(this)
      .done($.proxy(function() {
        evalIoos(this);
      }, this));

    // delete timeout id from data
    $(this).data('tid', null);

  }, parentTr), 2500);

  // store this tid in the parent tr's data
  parentTr.data("tid", tid);
}

function newRow() {
  var newTr = $(this).parents('tr');
  
  var cloned = newTr.clone(true).appendTo('#mapping-table tbody');
  // clear out input/textarea - jquery says clone won't copy it, but it does.
  $('input', cloned).val('');
  $('textarea', cloned).val('');

  // remove new-row class and events which trigger a new row creation
  newTr.removeClass('new-row');
  $('input', newTr).off('change');
  $('textarea', newTr).off('change');

  // rig up to autosave
  newTr.on('input', 'input', rowModified);
  newTr.on('input', 'textarea', rowModified);
}

function toggleColumn(colItem) {
  // colItem should be a th or td
  var idx = colItem.parent().children().index(colItem) + 1;

  var col = $('td:nth-child(' + idx + '),th:nth-child(' + idx + ')', colItem.parents('table'));
  col.toggleClass('bigger');

  // toggle all others
  //$('td, th', colItem.parents('table')).not(col).not($('td:first-child, colItem:first-child', colItem.parents('table'))).toggleClass('bigger');
}

function progressHandler() {
  console.log("i got them handler");
}

$(function() {
  $("#mapping-table tbody tr").not('.new-row').on("input", "input", rowModified);
  $("#mapping-table tbody tr").not('.new-row').on("input", "textarea", rowModified);

  $('#mapping-table .new-row input, #mapping-table .new-row textarea').on("change", newRow);

  $('#mapping-table th a').on('click', function() {
    toggleColumn($(this).parents('th'));
    event.preventDefault();
  });

  var ta = $('#mapping-table textarea').on("focus", function() {
    var td = $(this).parents('td');
    if (!td.hasClass('bigger')) {
      toggleColumn(td);

      // one shot close on blur
      $(this).one('blur', function() {
        toggleColumn(td);
      });
    }
  });
  ta.on('blur', function() {
    $(this).attr('placeholder', '');
  });

  $('#mapping-table .eval-btn').on('click', function() {
    var tr = $(this).parents('tr');
    if (!tr.data('id')) { return; }

    evalIoos(tr);
  });

  $('#mapping-table .delete-btn').on('click', function() {
    var tr = $(this).parents('tr');
    if (!tr.data('id')) { return; }

    var ioosName = $('input', tr).val();

    if (confirm("Are you sure you want to delete the mapping for " + ioosName + "?")) {
      $.post('/delete_mapping', {id:tr.data('id')})
          .done(function() {
            tr.remove();
          })
          .fail(function(xhr, textStatus, error) {
            $('.fail-alert').fadeIn(250).text("Could not delete: " + textStatus);
          });
    }
  });

  $('#add_eval_modal #add-source').on('click', function() {
    var formData = new FormData($('#add_eval_modal form')[0]);
    var req = $.ajax({
      url: '{{ url_for("add_eval_source") }}',
      type: 'POST',
      data: formData,
      contentType: false,
      processData: false
    }, 'json');

    req.progress(function() {
      console.log("progress?");
    });

    req.done(function(data) {
      $('#add_eval_modal').modal('hide');

      var newList = $('#eval .list-group-item:first').clone();
      var heading = $('.list-group-item-heading', newList);
      
      $('>span', heading).text(data.name + ' ');
      $('small', heading).text(data.source_type);

      newList.data('id', data._id);

      newList.appendTo($('#eval ul'));
    })
    req.fail(function() {
      console.error('failboat');
    })
  });
});
</script>

{% endblock %}

