{% extends "layout.html" %}

{% block page %}

<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">IOOS Metadata Mapper</a>
  </div>

  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">MapSet: {{ map_set_lookup[map_set._id]['name'] }} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        {%- for map_set in map_sets %}
        <li>
          <a href="{{ url_for('index', map_set_id=map_set._id) }}">
            <span class="badge pull-right">{{ map_set_lookup[map_set._id]['count'] }}</span>
            {{ map_set.name }}
          </a>
        </li>
        {%- endfor %}
        <li class="divider"></li>
        <li>
          <a href="#import-modal" data-toggle="modal"><span class="glyphicon glyphicon-upload"></span> Import Source Mapping...</a>
        </li>
        <li>
          <a href="#new-mapset-modal" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> New MapSet...</a>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-download"></span> Download Source Mapping <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        {%- for src in srcs %}
        <li>
          <a href="{{ url_for('download_map_set', map_set_id=map_set._id, source_type_id=src._id)}}">
            <span class="glyphicon glyphicon-download-alt"></span> {{ src.name }}
          </a>
        </li>
        {%- endfor %}
      </ul>
    </li>

    <li>
      <a href="#source-modal" class="btn btn-default navbar-btn" data-toggle="modal">Source Columns</a>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li><a href="#">Logout</a></li>
  </ul>
</nav>
{%- with messages = get_flashed_messages(with_categories=true) %}
  {%- if messages %}
    {%- for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {%- endfor %}
  {%- endif %}
{%- endwith %}

<div class="fail-alert alert alert-danger">
</div>

<table id="mapping-table" class="table table-striped table-condensed table-hover table-bordered">
  <thead>
    <tr>
      <th>Concept Name</th>
      {%- for src in srcs %}
      <th data-stid="{{ src._id }}">
        <a href="#" class="pull-right"><span class="glyphicon glyphicon-resize-horizontal"></span></a>
        {{ src.name }}
      </th>
      {%- endfor %}
    </tr>
  </thead>

  <tbody>
    {%- for mapping in mappings %}

    <tr data-id="{{mapping._id}}">
      <td>
        <input value="{{ mapping.ioos_name }}" class="" />

        <span class="label label-success saved-indicator pull-left">Saved</span>

        <div class="btn-group pull-right" style="margin-top: 5px;">
          <button class="btn btn-default btn-xs eval-btn">Evaluate</button>
          <button class="btn btn-danger btn-xs delete-btn">Delete</button>
        </div>
      </td>

      {%- for x in range(srcs|count) %}
      <td><textarea name="{{ srcs[x]._id }}">{{ mapping.queries[x] }}</textarea></td>
      {%- endfor %}
    </tr>

    {%- endfor %}

    <tr class="new-row">
      <td>
        <input name="ioos-name" placeholder="New Mapping" class="" />
        <span class="label label-success saved-indicator pull-left">Saved</span>

        <div class="btn-group pull-right" style="margin-top: 5px;">
          <button class="btn btn-default btn-xs eval-btn">Evaluate</button>
          <button class="btn btn-danger btn-xs delete-btn">Delete</button>
        </div>
      </td>

      {%- for src in srcs %}
      <td><textarea name="{{ src._id }}" placeholder="{{ src.name }}"></textarea></td>
      {%- endfor %}

    </tr>

  </tbody>
</table>

  <!--
  <div>
    <button class="btn btn-success btn-large" disabled="disabled"><span class="glyphicon glyphicon-plus"></span> Add Mapping</button>
  </div>
  -->

<div id="eval">
  <div class="panel-heading">
    <!--<a href="#" class="pull-right"><span class="glyphicon glyphicon-collapse-down"></span></a>-->
    <button class="btn btn-xs btn-info pull-right" id="add-eval-btn"><span class="glyphicon glyphicon-plus"></span> Add Eval Source</button>
    <h3 class="panel-title">Evaluation: <span></span></h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      {%- for eval_source in eval_sources %}
      <li class="list-group-item" data-id="{{ eval_source._id }}">
        <h4 class="list-group-item-heading">
          <a href="#" class="pull-right edit-eval-btn"><span class="glyphicon glyphicon-info-sign"></span></a>
          <span>{{ eval_source.name }}</span> <small>{{ eval_source.source_type }}</small>
        </h4>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-unchecked"></span></span>
          <input type="text" class="list-group-item-text form-control" disabled="disabled" value="" />
        </div>
      </li>
      {%- endfor %}
    </ul>
  </div>
</div>

<div id="eval-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><span data-mode="add">Add</span><span data-mode="edit">Edit</span> Evaluation Source</h4>
      </div>
      <div class="modal-body">
        <div id="eval-error" class="alert alert-danger"></div>
        <form class="form-horizontal">
          <input type="hidden" name="_id" />
          {%- for f in form %}
          <div class="form-group">
            {% if f.name != "csrf_token" %}
            <label for="{{ f.name }}" class="col-lg-4 control-label">{{ f.label }}</label>
            <div class="col-lg-8">
              {{ f(class_="form-control") }}
            </div>
            {% endif %}
          </div>
          {%- endfor %}
          <span data-mode="edit">
            <div class="form-group">
              <label class="col-lg-4 control-label">Current</label>
              <div class="col-lg-8">
                <p class="form-control-static"></p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-8 col-lg-offset-4">
                <p class="form-control-static">Fill out the URL or File fields to replace this value.</p>
              </div>
            </div>
          </span>
          <span data-mode="add">
            <div class="form-group">
              <div class="col-lg-8 col-lg-offset-4">
                <p class="form-control-static">Fill out the URL or File fields. File takes precedence.</p>
              </div>
            </div>
          </span>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <span data-mode="edit">
          <button type="button" id="del-source" data-loading-text="Deleting..." class="btn btn-danger">Delete</button>
          <button type="button" id="edit-source" data-loading-text="Saving..." class="btn btn-primary">Edit Source</button>
        </span>
        <span data-mode="add">
          <button type="button" id="add-source" data-loading-text="Saving..." class="btn btn-primary">Add Source</button>
        </span>
      </div>
    </div>
  </div>
</div>

<div id="new-mapset-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New MapSet</h4>
      </div>
      <div class="modal-body">
        <div id="new-mapset-error" class="alert alert-danger"></div>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="name" class="col-lg-4 control-label">Name</label>
            <div class="col-lg-8">
              <input name="name" class="form-control" value="" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-8 col-lg-offset-4">
              <label>
                <input type="checkbox" name="copy-toggle" value="1" />
                Copy from existing MapSet
              </label>
            </div>
            <div class="col-lg-8 col-lg-offset-4">
              <select name="copysrc" class="form-control" disabled="disabled">
                {%- for map_set in map_sets %}
                <option value="{{ map_set._id }}">{{ map_set.name }}</option>
                {%- endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">Owner</label>
            <div class="col-lg-8">
              <p class="form-control-static">You</p>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-lg-4 control-label">Authors</label>
            <div class="col-lg-8">
              {%- for x in range(0) %}
              <label class="checkbox-inline">
                <input type="checkbox" value="{{x}}" /> Sample Name
              </label>
              {%- endfor %}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-loading-text="Creating..." id="new-mapset-btn">New MapSet</button>
      </div>
    </div>
  </div>
</div>

<div id="import-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Import Mapping</h4>
      </div>
      <div class="modal-body">
        <div id="import-error" class="alert alert-danger"></div>
        <p>This will import a JSON Wicken mapping definition into a new MapSet. You must choose the Source Type to import the selectors into.</p>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="name" class="col-lg-4 control-label">Name</label>
            <div class="col-lg-8">
              <input name="name" class="form-control" value="" />
            </div>
          </div>
          <div class="form-group">
            <label for="source_type" class="col-lg-4 control-label">Source Type</label>
            <div class="col-lg-8">
              <select name="source_type" class="form-control">
                {%- for src in srcs %}
                <option value="{{ src._id }}">{{ src.name }}</option>
                {%- endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="upload" class="col-lg-4 control-label">File</label>
            <div class="col-lg-8">
              <input name="upload" type="file" class="form-control" value="" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-4 control-label">Owner</label>
            <div class="col-lg-8">
              <p class="form-control-static">You</p>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-lg-4 control-label">Authors</label>
            <div class="col-lg-8">
              {%- for x in range(0) %}
              <label class="checkbox-inline">
                <input type="checkbox" value="{{x}}" /> Sample Name
              </label>
              {%- endfor %}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-loading-text="Importing..." id="import-btn">Import</button>
      </div>
    </div>
  </div>
</div>

<div id="source-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Source Type Columns</h4>
      </div>
      <div class="modal-body">
        <div id="source-error" class="alert alert-danger"></div>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-lg-4 control-label">Source Types</label>
            <div class="col-lg-8">
              <ol>
                {%- for src in all_srcs %}
                <li>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="{{ src._id }}" />
                      {{ src.name }}
                    </label>
                  </div>
                </li>
                {%- endfor %}
              </ol>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-loading-text="Saving..." id="source-btn">Save</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

function evalIoos(row) {
  var row = $(row);
  console.log("eval me " + row.data('id'));

  $('#eval .list-group-item .input-group')
    .removeClass('has-success')
    .removeClass('has-error');

  $('#eval .list-group-item .input-group .glyphicon')
    .removeClass('glyphicon-ok')
    .removeClass('glyphicon-minus-sign')
    .addClass('glyphicon-unchecked');

  $('#eval .list-group-item .input-group input').val('');

  $.getJSON('/eval/' + row.data('id'))
    .done(function(data) {
      console.log(data);

      $('#eval h3.panel-title span').text($('input:first', row).val());

      for (var k in data) {

        // since .data() stores in memory not in html data attributes, can't select on them, have to filter
        var inp = $('input', $('#eval li').filter(function() {
          return $(this).data('id') == k;                                        
        }));

        if (data[k] == null) {
          inp.parent().addClass('has-error');
          inp.val(null);

          $('.glyphicon', inp.parent())
            .removeClass('glyphicon-unchecked')
            .addClass('glyphicon-minus-sign');

        } else {
          inp.val(data[k]);
          inp.parent().addClass('has-success');

          $('.glyphicon', inp.parent())
            .removeClass('glyphicon-unchecked')
            .addClass('glyphicon-ok');
        }
      }
    });
}

function save(row) {
  var row = $(row);

  // build object to send
  var mapping = {
    ioos_name: $('input', row).val(),
    queries: [],
    map_set: "{{ map_set._id }}",
    _id: row.data('id'),
  };

  $('textarea', row).each(function(idx, el) {
    if ($(el).val()) {
      mapping.queries.push({source_type: $(el).attr('name'),
                            query: $(el).val()});
    }
  });

  //console.log(mapping);

  var wat = $.ajax({
    type: 'POST',
    url: '{{ url_for("update_mapping") }}',
    data: {'data':JSON.stringify(mapping, null, '\t')},
  })

  wat.done(function(dat) {
    //console.log(dat);
    if (row.data('id') != dat) {
      row.data('id', dat);
    }

    $('.saved-indicator', row).fadeIn(250).delay(2000).fadeOut(250);
  });

  wat.fail(function(xhr, textStatus, error) {
    row.addClass('error');
    $('.fail-alert').fadeIn(250).text("Could not save: " + error);
  });

  return wat;
}

function rowModified() {
  var parentTr = $(this).parents('tr');
  if (parentTr.data('tid')) {
    window.clearTimeout(parentTr.data('tid'))
  }
  var tid = setTimeout($.proxy(function() {
    // call eval and save
    save(this)
      .done($.proxy(function() {
        evalIoos(this);
      }, this));

    // delete timeout id from data
    $(this).data('tid', null);

  }, parentTr), 2500);

  // store this tid in the parent tr's data
  parentTr.data("tid", tid);
}

function newRow() {
  var newTr = $(this).parents('tr');
  
  var cloned = newTr.clone(true).appendTo('#mapping-table tbody');
  // clear out input/textarea - jquery says clone won't copy it, but it does.
  $('input', cloned).val('');
  $('textarea', cloned).val('');

  // remove new-row class and events which trigger a new row creation
  newTr.removeClass('new-row');
  $('input', newTr).off('change');
  $('textarea', newTr).off('change');

  // rig up to autosave
  newTr.on('input', 'input', rowModified);
  newTr.on('input', 'textarea', rowModified);
}

function toggleColumn(colItem) {
  // colItem should be a th or td
  var idx = colItem.parent().children().index(colItem) + 1;

  var col = $('td:nth-child(' + idx + '),th:nth-child(' + idx + ')', colItem.parents('table'));
  col.toggleClass('bigger');

  // toggle all others
  //$('td, th', colItem.parents('table')).not(col).not($('td:first-child, colItem:first-child', colItem.parents('table'))).toggleClass('bigger');
}

function progressHandler() {
  console.log("i got them handler");
}

// called to handle either add or edit buttons being pressed
function postEvalSource(eid) {
  var formData = new FormData($('#eval-modal form')[0]);
  var url = '{{ url_for("eval_source") }}';
  if (eid != null) {
    url += "/" + eid;
  }
  var req = $.ajax({
    url: url,
    type: 'POST',
    data: formData,
    contentType: false,
    processData: false
  }, 'json');

  return req;
}

$(function() {
  $("#mapping-table tbody tr").not('.new-row').on("input", "input", rowModified);
  $("#mapping-table tbody tr").not('.new-row').on("input", "textarea", rowModified);

  $('#mapping-table .new-row input, #mapping-table .new-row textarea').on("change", newRow);

  $('#mapping-table th a').on('click', function() {
    toggleColumn($(this).parents('th'));
    event.preventDefault();
  });

  var ta = $('#mapping-table textarea').on("focus", function() {
    var td = $(this).parents('td');
    if (!td.hasClass('bigger')) {
      toggleColumn(td);

      // one shot close on blur
      $(this).one('blur', function() {
        toggleColumn(td);
      });
    }
  });
  ta.on('blur', function() {
    $(this).attr('placeholder', '');
  });

  $('#mapping-table .eval-btn').on('click', function() {
    var tr = $(this).parents('tr');
    if (!tr.data('id')) { return; }

    evalIoos(tr);
  });

  $('#mapping-table .delete-btn').on('click', function() {
    var tr = $(this).parents('tr');
    if (!tr.data('id')) { return; }

    var ioosName = $('input', tr).val();

    if (confirm("Are you sure you want to delete the mapping for " + ioosName + "?")) {
      $.post('/delete_mapping', {id:tr.data('id')})
          .done(function() {
            tr.remove();
          })
          .fail(function(xhr, textStatus, error) {
            $('.fail-alert').fadeIn(250).text("Could not delete: " + error);
          });
    }
  });

  $('#eval-modal').on('show.bs.modal', function() {
    $('#eval-error', $(this)).hide();
  });

  $('#add-eval-btn').on('click', function() {
    $('#eval-modal').modal();
    $('#eval-modal span[data-mode="edit"]').hide();
    $('#eval-modal span[data-mode="add"]').show();
    $('#eval-modal input').val('');
    $('#eval-modal select').val(null);
  });

  $('.edit-eval-btn').on('click', function() {
    var eid = $(this).parents('.list-group-item').data('id');
    $.getJSON('/eval_source/' + eid)
      .done(function(data) {
        $('#eval-modal').modal();
        $('#eval-modal span[data-mode="edit"]').show();
        $('#eval-modal span[data-mode="add"]').hide();

        $('#eval-modal input').val('');
        $('#eval-modal select').val(null);

        $('#eval-modal input[name="_id"]').val(data._id);
        $('#eval-modal input[name="name"]').val(data.name);
        $('#eval-modal select[name="source_type"]').val(data.source_type);
        $('#eval-modal .form-control-static:first').text(data.endpoint);
      });
  });

  $('#eval-modal #del-source').on('click', function() {
    var eid = $('#eval-modal input[name="_id"]').val();
    if (confirm("Are you sure you want to delete this source?")) {

      var btn = $(this);
      $('button', btn.parent()).attr('disabled', 'disabled');
      btn.button('loading');

      $.post('/delete_source', {id:eid})
        .done(function() {
          $('#eval-modal').modal('hide');
          $('#eval li').filter(function() {
            return $(this).data('id') == eid;
          }).remove();
        })
        .fail(function(xhr, textStatus, error) {
          $('#eval-modal #eval-error').fadeIn(250).text("Could not delete Eval Source: " + error);
        })
        .always(function() {
          $('button', btn.parent()).removeAttr('disabled');
          btn.button('reset');
        });
    }
  });

  $('#eval-modal #edit-source').on('click', function() {
    var eid = $('#eval-modal input[name="_id"]').val();
    var req = postEvalSource(eid);

    var btn = $(this);
    $('button', btn.parent()).attr('disabled', 'disabled');
    btn.button('loading');

    req.done(function(data) {
      $('#eval-modal').modal('hide');

      var exist = $('#eval .list-group-item').filter(function() {
        return $(this).data('id') == eid;
      });

      var heading = $('.list-group-item-heading', exist);

      $('>span', heading).text(data.name + ' ');
      $('small', heading).text(data.source_type);

      exist.data('id', data._id);
    })
    .fail(function(xhr, textStatus, error) {
      $('#eval-modal #eval-error').fadeIn(250).text("Could not edit Eval Source: " + error);
    })
    .always(function() {
      $('button', btn.parent()).removeAttr('disabled');
      btn.button('reset');
    });
  });

  $('#eval-modal #add-source').on('click', function() {
    var req = postEvalSource();

    req.progress(function() {
      console.log("progress?");
    });

    req.done(function(data) {
      $('#eval-modal').modal('hide');

      var newList = $('#eval .list-group-item:first').clone(true);
      var heading = $('.list-group-item-heading', newList);

      $('>span', heading).text(data.name + ' ');
      $('small', heading).text(data.source_type);

      newList.data('id', data._id);

      newList.appendTo($('#eval ul'));
    })
    req.fail(function(xhr, textStatus, error) {
      $('#eval-modal #eval-error').fadeIn(250).text("Could not create new Eval Source: " + error);
    })
  });

  $('#new-mapset-modal').on('show.bs.modal', function() {
    $('#new-mapset-error', $(this)).hide();
    $('input', $(this)).val('');
    $('select', $(this)).val($('option:first', $(this)).attr('value'));

    $('input[type="checkbox"]').prop('checked', false);
  });

  $('#new-mapset-modal input[name="copy-toggle"]').on('change', function() {
    if ($(this).is(':checked')) {
      $('#new-mapset-modal select[name="copysrc"]').removeAttr('disabled');
    } else {
      $('#new-mapset-modal select[name="copysrc"]').attr('disabled', 'disabled');
    }
  });

  $('#new-mapset-modal #new-mapset-btn').on('click', function() {

    var btn = $(this);

    btn.attr('disabled', 'disabled');
    btn.button('loading');

    // build object to send
    var mapset = {
      name: $('#new-mapset-modal input[name="name"]').val(),
      copySrc: null,
    };

    if ($('#new-mapset-modal input[name="copy-toggle"]').is(':checked')) {
      mapset.copySrc = $('#new-mapset-modal select[name="copysrc"]').val();
    }

    // @TODO: authors
    var req = $.ajax({
      type: 'POST',
      url: '{{ url_for("new_map_set") }}',
      data: {'data':JSON.stringify(mapset, null, '\t')},
    })

    req.done(function(data) {
      $('#new-mapset-modal').modal('hide');

      window.location.href = '/' + data._id;
    });

    req.fail(function(xhr, textStatus, error) {
      $('#new-mapset-modal #new-mapset-error').fadeIn(250).text("Could not create new MapSet: " + error);
    });

    req.always(function() {
      btn.removeAttr('disabled');
      btn.button('reset');
    });
  });

  $('#import-modal').on('show.bs.modal', function() {
    $('#import-error', $(this)).hide();
  });

  $('#import-modal #import-btn').on('click', function() {
    var btn = $(this);

    btn.attr('disabled', 'disabled');
    btn.button('loading');

    var formData = new FormData($('#import-modal form')[0]);
    var url = '{{ url_for("import_mapping") }}';
    var req = $.ajax({
      url: url,
      type: 'POST',
      data: formData,
      contentType: false,
      processData: false
    }, 'json');

    req.done(function(data) {
      $('#import-modal').modal('hide');

      window.location.href = '/' + data._id;
    })
    req.fail(function(xhr, textStatus, error) {
      $('#import-modal #import-error').fadeIn(250).text("Could not import mapping: " + error);
    })

    req.always(function() {
      btn.removeAttr('disabled');
      btn.button('reset');
    });
  });

  $('#source-modal').on('show.bs.modal', function() {
    $('#source-error', $(this)).hide();

    $('#source-modal input[type="checkbox"]').prop('checked', false);

    // match up current columns to values
    $('th').filter(function() { return $(this).data('stid') != null; }).each(function(idx, el) {
      var stid = $(el).data('stid');
      $('#source-modal input[value="' + stid + '"]').prop('checked', true);
    });
  });

  $('#source-modal input[type=checkbox]').on('change', function() {
    var stid = $(this).val();
    var checked = $(this).is(':checked');

    if (checked) {
      // adding a new col
      var idx = $(this).parent().children().index(this) + 1;
      var stid = $(this).val();

      var newTh = $('<th></th>').data('stid', stid).text($(this).parent().text());
      var newTd = $('<td></td>');
      var textArea = $('<textarea></textarea>').attr("name", stid);
      newTd.append(textArea)

      $.getJSON('/mapping/{{ map_set._id }}/' + stid)
      .done(function(data) {
        console.log(data);

        // @TODO improve?
        var thIdx = newTh.parent().children().index(newTh) + 1;

        for (var k in data) {
          var tr = $('tr').filter(function() { return $(this).data('id') == k; });
          $('td:nth-child(' + thIdx + ') textarea', tr).val(data[k]);
        }
      })
      .fail(function(xhr, textStatus, error) {
        $('#source-modal #source-error').fadeIn(250).text("Could not retrieve data for source: " + error);
      });

      //$('thead tr th:nth-child(' + idx + ')').before(newTh);
      //$('tbody tr td:nth-child(' + idx + ')').before(newTd);

      // @TODO: determine index to insert

      newTh.appendTo($('thead tr'));
      newTd.appendTo($('tbody tr'));

    } else {
      // removal of an existing col
      var th = $('th').filter(function() {
        return $(this).data('stid') == stid;
      })
      var idx = $('thead tr').children().index(th) + 1;

      th.remove();
      $('td:nth-child(' + idx + ')').remove();
    }
  });

  $('#source-modal #source-btn').on('click', function() {
    
    var btn = $(this);

    btn.attr('disabled', 'disabled');
    btn.button('loading');

    var data = [];

    $('#source-modal input:checked').each(function (idx, el) {
      data.push($(el).val());
    });

    var req = $.post('/mapset_sources/{{ map_set._id}}', {'data':JSON.stringify(data, null, '\t')})
    req.done(function() {
      $('#source-modal').modal('hide');
    });

    req.fail(function(xhr, textStatus, error) {
      $('#source-modal #source-error').fadeIn(250).text("Could not save source type columns: " + error);
    });

    req.always(function() {
      btn.removeAttr('disabled');
      btn.button('reset');
    });
  });

});
</script>

{% endblock %}

