<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IOOS Metadata Mapper</title>
    {% block javascript %}
    <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.min.js') }}" /></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/bootstrap.js') }}" /></script>
    {% endblock %}
    {% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/bootstrap.min.css') }}"></link>
    <!--<link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/bootstrap-theme.css') }}"></link>-->
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/imm-style.css') }}"></link>
    {% endblock %}
  </head>
  <body>
    {% block page %}{% endblock %}
  </body>
</html>
