<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IOOS Metadata Mapper</title>
    {% block javascript %}
    <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.min.js') }}" /></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/bootstrap.js') }}" /></script>
    {% endblock %}
    {% block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/bootstrap.min.css') }}"></link>
    <!--<link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/bootstrap-theme.css') }}"></link>-->
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/imm-style.css') }}"></link>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">IOOS Metadata Mapper</a>
      </div>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mapping: {{ map_set_lookup[session['map_set']]['name'] }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {%- for map_set in map_sets %}
            <li>
              <a href="{{ url_for('index', map_set_id=map_set._id) }}">
                <span class="badge pull-right">{{ map_set_lookup[map_set._id]['count'] }}</span>
                {{ map_set.name }}
              </a>
            </li>
            {%- endfor %}
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-download"></span> Download Mapping <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {%- for src in srcs %}
            <li>
              <a href="{{ url_for('download_map_set', map_set_id=session['map_set'], source_type_id=src._id)}}">
                <span class="glyphicon glyphicon-download-alt"></span> {{ src.name }}
              </a>
            </li>
            {%- endfor %}
          </ul>
      </ul>

      <button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-upload"></span> Import Mapping</button>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Logout</a></li>
      </ul>
    </nav>
    {%- with messages = get_flashed_messages(with_categories=true) %}
      {%- if messages %}
        {%- for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {%- endfor %}
      {%- endif %}
    {%- endwith %}

    {% block page %}{% endblock %}
  </body>
</html>
